*   {
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }

    :root {
        --random-color: rgb(20, 158, 208); /* Default color */
    }

    body {
        margin: 0; /* Remove default body margin */
        font-family: Arial, sans-serif; /* Set a default font */
        background-color: #05050b; /* Set a background color */
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Ensure minimum height of the viewport */
        overflow: hidden;
    }

    canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1; /* Behind other content */
    }

    .logo {
        position: fixed;
        width: 200px;
        height: 40px;
        border: 6px solid var(--random-color);
        /*box-shadow: 0 0 10px 2px var(--random-color);*/
        z-index: 10;
        overflow: hidden;
        display:flex;
        top: 0;
        left: 0;
        background-color: #05050b; /* Add a background color */
    }

    .logo h1{
        position: absolute;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.6em;
        text-align: center;
        margin: 0%;
    }

    .logo a {
        text-decoration: none; /* Remove default underline */
        color: inherit; /* Inherit the text color from parent */
      
        /* Transition for smooth effect */
        transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
    }

    .logo a:hover {
        color: var(--random-color); /* Change text color to white on hover */
        text-decoration: underline; /* Add underline on hover */
    }

    .pagecontainer {
        position: absolute;
        width: 100%; /* Adjust width with margins subtracted */
        height: 100%; /* Adjust height with margins subtracted */
        padding: 10px; /* Add padding inside the box */
        /*background-color: rgb(3, 3, 32); /* Set a background color */
        overflow: auto; /* Add scrollbar when content overflows */
        border: 6px solid var(--random-color); /* Add a border */
        /*box-shadow: 0 0 100px 10px var(--random-color);*/
        /*border-radius: 10px; /* Add curved corners */
        z-index: 1;
        scroll-behavior: smooth;
    }

    .pagecontainer::-webkit-scrollbar {
        display: none;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .title h1{
        justify-content: center;
        text-align: center;
        color: #fff;
        font-size: 10em;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .grid{
        padding: 60px; /* Add padding for spacing */
        width: 100%;
        /* Display items in a row using Flexbox */
        display: flex;
        align-items:start;
        justify-content: space-between; /* Distribute items evenly along the row */
        flex-wrap: wrap;
    }

    .item {
        flex: 0 0 calc(25% - 60px); /* Set width for each item (25% of container width minus padding) */
        text-align: center; /* Center the content */
        display: flex; /* Use flexbox for content alignment */
        flex-direction: column; /* Arrange content in a column */
        justify-content: center; /* Vertically center content */
        align-items: center; /* Horizontally center content */
        height: 200px; /* Set a fixed height for the item container */
        padding: 20px; /* Adjust padding for spacing */
        margin: 20px; /* Add margin for spacing between items */
    }
      
    /* Adjust styles for images */
    .item img {
        max-width: 100%;
        height: auto;
        width: 400px;
    }

    .item h1{
        color: #fff;
        font-size: 2em;
        margin-top: 0px;
    }

    .item a {
        text-decoration: none; /* Remove default underline */
        color: inherit; /* Inherit the text color from parent */
      
        /* Transition for smooth effect */
        transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .item a:hover {
        color: var(--random-color); /* Change text color to white on hover */
        text-decoration: underline; /* Add underline on hover */
        transform: scale(1.1);
    }

    @media (max-width: 800px) {
        .logo {
            width: 160px;
            height: 30px;
        }
    
        .logo h1{
            font-size: 1em;
        }
        

        .title h1{
            font-size: 4em;
            margin-top: 40px;
            margin-bottom: 0px;
        }
    }

    @media (max-width: 1100px) {
        .section {
            justify-content: start;
            flex-direction: column; /* Stack items vertically */
            align-items: baseline;
        }
        
        .grid {
            padding: 20px;
            justify-content: center;
        }
          
        .item {
            flex-basis: 100%; /* Take full width of the container */
            max-width: 100%; /* Full width for smaller screens */
            height: auto; /* Allow items to adjust height based on content */
            margin-bottom: 60px;
        }

        .item h1{
            font-size: 1.4em;
        }

        .item img {
            width: 200px;
        }
    }